In [1]:
# project: p12
# submitter: Kmconrad3
# partner: Akroubal
# hours: 8

In [2]:
import requests, math, json
import os, pandas as pd
from pandas import DataFrame
from bs4 import BeautifulSoup

In [3]:
def download(filename, url):
    #we don't download again if the file already exists
    if os.path.exists(filename):
        return (str(filename) + " already exists!") 
    r = requests.get(url)
    r.raise_for_status()
    f = open(filename, 'wb')
    f.write(r.content)
    f.close()      
    return (str(filename) + " created!")

download('countries.json', 'https://raw.githubusercontent.com/msyamkumar/cs220-s21-projects/master/p12/countries.json')

'countries.json created!'

In [4]:
countries = pd.read_json("countries.json")
countries.head()

,area,birth-rate,coastline,continent,country,death-rate,gdp-per-capita,infant-mortality,literacy,net-migration,phones,population,region
0,756950,15.23,0.85,South America,Chile,5.81,9900,8.80,"96,2",0.00,"213,0",16134219,LATIN AMER. & CARIB
1,665,17.80,24.21,Asia,Bahrain,4.14,16900,17.27,"89,1",1.05,"281,3",698585,NEAR EAST
2,22966,28.84,1.68,North America,Belize,5.72,4900,25.69,"94,1",0.00,"115,7",287730,LATIN AMER. & CARIB
3,582650,39.72,0.09,Africa,Kenya,14.02,1000,61.47,"85,1",-0.10,"8,1",34707817,SUB-SAHARAN AFRICA
4,11854,33.05,3.12,Australia,Marshall Islands,4.78,1600,29.45,"93,7",-6.04,"91,2",60422,OCEANIA

In [5]:
#q1
countries1 = []
number = 0
for country in range(len(countries['country'])):
    if country not in countries1:
        countries1.append(country)
        number+=1

number

174

In [6]:
#q2
countries['population'].sum()

6261901793

In [7]:
download('capitals.json','https://raw.githubusercontent.com/msyamkumar/cs220-s21-projects/master/p12/capitals.json')
capitals = pd.read_json("capitals.json")
capitals.head()

       country       capital   latitude  longitude
0  Afghanistan         Kabul  34.516667  69.183333
1      Albania        Tirana  41.316667  19.816667
2      Algeria       Algiers  36.750000   3.050000
3     Anguilla    The Valley  18.216667 -63.050000
4    Argentina  Buenos Aires -34.583333 -58.666667

In [8]:
#q3
list(sorted(capitals['capital']))

['Abu Dhabi',
 'Abuja',
 'Accra',
 'Addis Ababa',
 'Algiers',
 'Amman',
 'Amsterdam',
 'Ankara',
 'Antananarivo',
 'Apia',
 'Ashgabat',
 'Asmara',
 'Astana',
 'Asuncion',
 'Athens',
 'Baghdad',
 'Baku',
 'Bamako',
 'Bangkok',
 'Beijing',
 'Beirut',
 'Belmopan',
 'Berlin',
 'Bern',
 'Bishkek',
 'Bissau',
 'Bogota',
 'Brasilia',
 'Bridgetown',
 'Brussels',
 'Bucharest',
 'Budapest',
 'Buenos Aires',
 'Bujumbura',
 'Cairo',
 'Canberra',
 'Caracas',
 'Castries',
 'Chisinau',
 'Colombo',
 'Conakry',
 'Copenhagen',
 'Dakar',
 'Damascus',
 'Dar es Salaam',
 'Dhaka',
 'Djibouti',
 'Doha',
 'Dublin',
 'Dushanbe',
 'Freetown',
 'Gaborone',
 'George Town',
 'Georgetown',
 'Guatemala City',
 'Hagatna',
 'Hamilton',
 'Hanoi',
 'Harare',
 'Havana',
 'Helsinki',
 'Islamabad',
 'Jakarta',
 'Jamestown',
 'Jerusalem',
 'Kabul',
 'Kampala',
 'Kathmandu',
 'Khartoum',
 'Kigali',
 'Kingston',
 'Kingstown',
 'Kuala Lumpur',
 'Kuwait City',
 'Kyiv',
 'La Paz',
 'Libreville',
 'Lilongwe',
 'Lima',
 'Lisbon',
 'Ljubljana',
 'Lome',
 'London',
 'Lusaka',
 'Luxembourg',
 'Madrid',
 'Majuro',
 'Malabo',
 'Male',
 'Managua',
 'Manama',
 'Manila',
 'Maputo',
 'Maseru',
 'Mbabane',
 'Melekeok',
 'Mexico City',
 'Minsk',
 'Mogadishu',
 'Monaco',
 'Monrovia',
 'Montevideo',
 'Moroni',
 'Moscow',
 'Muscat',
 'Nairobi',
 'New Delhi',
 'Niamey',
 'Nouakchott',
 'Noumea',
 'Nuku’alofa',
 'N’Djamena',
 'Oranjestad',
 'Oslo',
 'Ottawa',
 'Ouagadougou',
 'Panama City',
 'Papeete',
 'Paramaribo',
 'Paris',
 'Phnom Penh',
 'Port Louis',
 'Port Moresby',
 'Port-Vila',
 'Port-au-Prince',
 'Porto-Novo',
 'Prague',
 'Praia',
 'Pretoria',
 'Quito',
 'Rabat',
 'Reykjavik',
 'Riga',
 'Riyadh',
 'Rome',
 'Roseau',
 'Saint George’s',
 'San Jose',
 'San Juan',
 'San Marino',
 'San Salvador',
 'Sanaa',
 'Santiago',
 'Santo Domingo',
 'Singapore',
 'Sofia',
 'Stockholm',
 'Suva',
 'Taipei',
 'Tallinn',
 'Tashkent',
 'Tbilisi',
 'Tegucigalpa',
 'Tehran',
 'The Valley',
 'Thimphu',
 'Tirana',
 'Tokyo',
 'Tripoli',
 'Tunis',
 'Ulaanbaatar',
 'Vaduz',
 'Valletta',
 'Victoria',
 'Vienna',
 'Vientiane',
 'Vilnius',
 'Warsaw',
 'Washington, D.C.',
 'Wellington',
 'Windhoek',
 'Yaounde',
 'Yerevan',
 'Zagreb']

In [9]:
#q4
whereissweden = capitals[capitals['country'] == "Sweden"]
whereissweden.iloc[0]['capital']

'Stockholm'

In [10]:
#q5
countrywithsantiago = capitals[capitals['capital'] == "Santiago"]
countrywithsantiago.iloc[0]['country']

'Chile'

In [11]:
#q6
listofcountries = []
southernmost = (list(sorted((capitals['latitude']))))[:7]
for i in range(len(southernmost)):
    j = capitals[capitals['latitude'] == southernmost[i]]
    listofcountries.append(j.iloc[0][0])
listofcountries

['New Zealand',
 'Australia',
 'Uruguay',
 'Argentina',
 'Chile',
 'Lesotho',
 'Swaziland']

In [12]:
#q7
listofcountries2 = []
northernmost = (list(sorted((capitals['latitude']))))[-10:]
for i in range(len(northernmost)):
    j = capitals[capitals['latitude'] == northernmost[i]]
    listofcountries2.append(j.iloc[0][0])
listofcountries2.reverse()
listofcountries2

['Iceland',
 'Finland',
 'Norway',
 'Estonia',
 'Sweden',
 'Latvia',
 'Russia',
 'Denmark',
 'Lithuania',
 'Belarus']

In [13]:
#q8
noconnection = countries[countries['coastline'] == 0]
largestarea = (noconnection.sort_values(by='area', ascending=False))
southamericalargest =(largestarea[largestarea['continent'] == 'South America'])
southamericalargest.iloc[0][4]

'Bolivia'

In [14]:
#q9
coastal = countries[countries['coastline'] != 0]
largestarea2 = (coastal.sort_values(by='area', ascending=False))
africalargest =(largestarea2[largestarea2['continent'] == 'Africa'])
africalargest.iloc[0][4]

'Sudan'

In [15]:
#q10
asiacoastal = countries[countries['coastline'] != 0]
leastpopulation = (coastal.sort_values(by='population'))
asiasmallest =(leastpopulation[leastpopulation['continent'] == 'Asia'])
asiasmallest.iloc[0][4]

'Maldives'

In [16]:
#q11

#code from https://www.geeksforgeeks.org/haversine-formula-to-find-distance-between-two-points-on-a-sphere/
def haversine(lat1, lon1, lat2, lon2):  
    #distance between latitudes and longitudes in radians
    dLat = (lat2 - lat1) * math.pi / 180.0
    dLon = (lon2 - lon1) * math.pi / 180.0
    #convert latitudes to radians
    lat1 = (lat1) * math.pi / 180.0
    lat2 = (lat2) * math.pi / 180.0
    #apply formula
    a = (pow(math.sin(dLat / 2), 2) + pow(math.sin(dLon / 2), 2) * math.cos(lat1) * math.cos(lat2))
    c = 2 * math.asin(math.sqrt(a))
    return round(3956 * c, 4) #in miles 

haversine(43.070231, -89.411893, 43.074645, -89.384113)

1.4339

In [17]:
#q12
belglat = capitals[capitals['country'] == "Belgium"].iloc[0][2]
belglon = capitals[capitals['country'] == "Belgium"].iloc[0][3]
franlat = capitals[capitals['country'] == "France"].iloc[0][2]
franlon = capitals[capitals['country'] == "France"].iloc[0][3]

haversine(belglat, belglon, franlat, franlon)

162.3642

In [18]:
#q13
spanlat = capitals[capitals['country'] == "Spain"].iloc[0][2]
spanlon = capitals[capitals['country'] == "Spain"].iloc[0][3]

DataFrame({"France":{"France":math.nan,"Spain":haversine(franlat,franlon,spanlat,spanlon),'Belgium':haversine(franlat,franlon,belglat,belglon)},
           "Spain":{"France":haversine(spanlat,spanlon, franlat, franlon),"Spain":math.nan,"Belgium":haversine(spanlat,spanlon,belglat,belglon)},
           "Belgium":{"France":haversine(belglat, belglon, franlat, franlon),"Spain":haversine(belglat,belglon,spanlat,spanlon),'Belgium':math.nan}})

           France     Spain   Belgium
France        NaN  654.5722  162.3642
Spain    654.5722       NaN  816.6924
Belgium  162.3642  816.6924       NaN

In [19]:
#q14
dicthold={}
aust=countries[countries['continent'] == 'Australia']

for i in range(len(aust)):
    countr=aust.iloc[i][4]
    dicthold[countr]={}
    for j in range(len(aust)):
        countrr=aust.iloc[j][4]
        if countr!=countrr:
            dicthold[countr][countrr]= haversine(capitals[capitals['country']==countr].iloc[0][2], capitals[capitals['country']==countr].iloc[0][3], capitals[capitals['country']==countrr].iloc[0][2], capitals[capitals['country']==countrr].iloc[0][3])
        if countr==countrr:
            dicthold[countr][countrr]= math.nan
            
df=DataFrame(dicthold)
df

,Marshall Islands,French Polynesia,New Zealand,Vanuatu,Palau,Papua New Guinea,Guam,Samoa,New Caledonia,Australia,Fiji,Tonga
Marshall Islands,NaN,3159.8561,3348.7254,1727.3286,2516.3017,2019.1441,1861.5844,1849.1507,2054.9052,3263.9019,1806.9726,2151.1294
French Polynesia,3159.8561,NaN,2668.8073,2765.3394,5447.0188,4265.7579,4961.1317,1496.9538,2864.4973,3920.5702,2102.1357,1686.5394
New Zealand,3348.7254,2668.8073,NaN,1671.6412,4218.1884,2767.6071,4239.3149,2062.5480,1400.4836,1445.1479,1613.9170,1510.2194
Vanuatu,1727.3286,2765.3394,1671.6412,NaN,2882.0419,1527.4959,2687.3958,1349.9044,335.6030,1687.8107,663.9672,1098.0163
Palau,2516.3017,5447.0188,4218.1884,2882.0419,NaN,1453.3061,800.2431,3956.3054,2974.8928,3099.0232,3468.0371,3931.8431
Papua New Guinea,2019.1441,4265.7579,2767.6071,1527.4959,1453.3061,NaN,1591.1716,2789.1233,1552.7089,1786.7497,2174.7128,2623.7424
Guam,1861.5844,4961.1317,4239.3149,2687.3958,800.2431,1591.1716,NaN,3520.8834,2871.8686,3377.1039,3165.5700,3617.5128
Samoa,1849.1507,1496.9538,2062.5480,1349.9044,3956.3054,2789.1233,3520.8834,NaN,1542.1526,2840.0911,716.3161,553.3932
New Caledonia,2054.9052,2864.4973,1400.4836,335.6030,2974.8928,1552.7089,2871.8686,1542.1526,NaN,1375.9247,825.8909,1179.0696
Australia,3263.9019,3920.5702,1445.1479,1687.8107,3099.0232,1786.7497,3377.1039,2840.0911,1375.9247,NaN,2145.7690,2362.7669
Fiji,1806.9726,2102.1357,1613.9170,663.9672,3468.0371,2174.7128,3165.5700,716.3161,825.8909,2145.7690,NaN,463.8439
Tonga,2151.1294,1686.5394,1510.2194,1098.0163,3931.8431,2623.7424,3617.5128,553.3932,1179.0696,2362.7669,463.8439,NaN

In [20]:
#q15
df.mean().sort_values().index[0]

'Vanuatu'

In [21]:
#q16
df.mean().sort_values().index[-1]

'French Polynesia'

In [22]:
#q17
DataFrame({'nearest':df.idxmin(),'distance':df.min()})

                        nearest   distance
Marshall Islands        Vanuatu  1727.3286
French Polynesia          Samoa  1496.9538
New Zealand       New Caledonia  1400.4836
Vanuatu           New Caledonia   335.6030
Palau                      Guam   800.2431
Papua New Guinea          Palau  1453.3061
Guam                      Palau   800.2431
Samoa                     Tonga   553.3932
New Caledonia           Vanuatu   335.6030
Australia         New Caledonia  1375.9247
Fiji                      Tonga   463.8439
Tonga                      Fiji   463.8439

In [23]:
#q18
DataFrame({'furthest':df.idxmax(),'distance':df.max()})

                          furthest   distance
Marshall Islands       New Zealand  3348.7254
French Polynesia             Palau  5447.0188
New Zealand                   Guam  4239.3149
Vanuatu                      Palau  2882.0419
Palau             French Polynesia  5447.0188
Papua New Guinea  French Polynesia  4265.7579
Guam              French Polynesia  4961.1317
Samoa                        Palau  3956.3054
New Caledonia                Palau  2974.8928
Australia         French Polynesia  3920.5702
Fiji                         Palau  3468.0371
Tonga                        Palau  3931.8431

In [24]:
#q19
DataFrame({'birth-rate':countries['birth-rate'],'death-rate':countries['death-rate']}).describe()

       birth-rate  death-rate
count  174.000000  174.000000
mean    22.463851    9.625172
std     11.278992    5.187143
min      8.250000    2.410000
25%     12.597500    6.027500
50%     20.010000    8.230000
75%     29.860000   11.715000
max     50.730000   29.740000

In [25]:
#q20
def process_json(filename):
    exampleFile = open(filename, encoding='utf-8')
    data=json.load(exampleFile)
    exampleFile.close()
    return data

download('capitals.html', 'https://raw.githubusercontent.com/msyamkumar/cs220-s21-projects/master/p12/techslides-snapshot.html')
url='https://raw.githubusercontent.com/msyamkumar/cs220-s21-projects/master/p12/techslides-snapshot.html'
html_content = requests.get(url).text
bs_obj = BeautifulSoup(html_content, "html.parser")

header=['country', 'capital', 'latitude','longitude']
souplist=[]
for i in bs_obj.find_all('tr')[1:]:
    soupdic={}
    countrydata=i.find_all('td')
    for jsn in process_json('capitals.json'):
        if jsn['country']==(countrydata[0].text):
            for j in range(len(header)):
                if header[j]=='latitude' or header[j]=='longitude':
                    soupdic[header[j]]=float(countrydata[j].text)
                    continue
                soupdic[header[j]]=countrydata[j].text
            souplist.append(soupdic)  

my_capitals = open('my_capitals.json', "w", encoding='utf-8')
json.dump(souplist,my_capitals)
my_capitals.close()

f = open('my_capitals.json', encoding='utf-8')
my_capitals_data = json.load(f)
f.close()

my_capitals_data

[{'country': 'Afghanistan',
  'capital': 'Kabul',
  'latitude': 34.51666667,
  'longitude': 69.183333},
 {'country': 'Albania',
  'capital': 'Tirana',
  'latitude': 41.31666667,
  'longitude': 19.816667},
 {'country': 'Algeria',
  'capital': 'Algiers',
  'latitude': 36.75,
  'longitude': 3.05},
 {'country': 'Anguilla',
  'capital': 'The Valley',
  'latitude': 18.21666667,
  'longitude': -63.05},
 {'country': 'Argentina',
  'capital': 'Buenos Aires',
  'latitude': -34.58333333,
  'longitude': -58.666667},
 {'country': 'Armenia',
  'capital': 'Yerevan',
  'latitude': 40.16666667,
  'longitude': 44.5},
 {'country': 'Aruba',
  'capital': 'Oranjestad',
  'latitude': 12.51666667,
  'longitude': -70.033333},
 {'country': 'Australia',
  'capital': 'Canberra',
  'latitude': -35.26666667,
  'longitude': 149.133333},
 {'country': 'Austria',
  'capital': 'Vienna',
  'latitude': 48.2,
  'longitude': 16.366667},
 {'country': 'Azerbaijan',
  'capital': 'Baku',
  'latitude': 40.38333333,
  'longitude': 49.866667},
 {'country': 'Bahrain',
  'capital': 'Manama',
  'latitude': 26.23333333,
  'longitude': 50.566667},
 {'country': 'Bangladesh',
  'capital': 'Dhaka',
  'latitude': 23.71666667,
  'longitude': 90.4},
 {'country': 'Barbados',
  'capital': 'Bridgetown',
  'latitude': 13.1,
  'longitude': -59.616667},
 {'country': 'Belarus',
  'capital': 'Minsk',
  'latitude': 53.9,
  'longitude': 27.566667},
 {'country': 'Belgium',
  'capital': 'Brussels',
  'latitude': 50.83333333,
  'longitude': 4.333333},
 {'country': 'Belize',
  'capital': 'Belmopan',
  'latitude': 17.25,
  'longitude': -88.766667},
 {'country': 'Benin',
  'capital': 'Porto-Novo',
  'latitude': 6.483333333,
  'longitude': 2.616667},
 {'country': 'Bermuda',
  'capital': 'Hamilton',
  'latitude': 32.28333333,
  'longitude': -64.783333},
 {'country': 'Bhutan',
  'capital': 'Thimphu',
  'latitude': 27.46666667,
  'longitude': 89.633333},
 {'country': 'Bolivia',
  'capital': 'La Paz',
  'latitude': -16.5,
  'longitude': -68.15},
 {'country': 'Botswana',
  'capital': 'Gaborone',
  'latitude': -24.63333333,
  'longitude': 25.9},
 {'country': 'Brazil',
  'capital': 'Brasilia',
  'latitude': -15.78333333,
  'longitude': -47.916667},
 {'country': 'Bulgaria',
  'capital': 'Sofia',
  'latitude': 42.68333333,
  'longitude': 23.316667},
 {'country': 'Burkina Faso',
  'capital': 'Ouagadougou',
  'latitude': 12.36666667,
  'longitude': -1.516667},
 {'country': 'Burundi',
  'capital': 'Bujumbura',
  'latitude': -3.366666667,
  'longitude': 29.35},
 {'country': 'Cambodia',
  'capital': 'Phnom Penh',
  'latitude': 11.55,
  'longitude': 104.916667},
 {'country': 'Cameroon',
  'capital': 'Yaounde',
  'latitude': 3.866666667,
  'longitude': 11.516667},
 {'country': 'Canada',
  'capital': 'Ottawa',
  'latitude': 45.41666667,
  'longitude': -75.7},
 {'country': 'Cape Verde',
  'capital': 'Praia',
  'latitude': 14.91666667,
  'longitude': -23.516667},
 {'country': 'Cayman Islands',
  'capital': 'George Town',
  'latitude': 19.3,
  'longitude': -81.383333},
 {'country': 'Chad',
  'capital': 'N’Djamena',
  'latitude': 12.1,
  'longitude': 15.033333},
 {'country': 'Chile',
  'capital': 'Santiago',
  'latitude': -33.45,
  'longitude': -70.666667},
 {'country': 'China',
  'capital': 'Beijing',
  'latitude': 39.91666667,
  'longitude': 116.383333},
 {'country': 'Colombia',
  'capital': 'Bogota',
  'latitude': 4.6,
  'longitude': -74.083333},
 {'country': 'Comoros',
  'capital': 'Moroni',
  'latitude': -11.7,
  'longitude': 43.233333},
 {'country': 'Costa Rica',
  'capital': 'San Jose',
  'latitude': 9.933333333,
  'longitude': -84.083333},
 {'country': 'Croatia',
  'capital': 'Zagreb',
  'latitude': 45.8,
  'longitude': 16.0},
 {'country': 'Cuba',
  'capital': 'Havana',
  'latitude': 23.11666667,
  'longitude': -82.35},
 {'country': 'Czech Republic',
  'capital': 'Prague',
  'latitude': 50.08333333,
  'longitude': 14.466667},
 {'country': 'Denmark',
  'capital': 'Copenhagen',
  'latitude': 55.66666667,
  'longitude': 12.583333},
 {'country': 'Djibouti',
  'capital': 'Djibouti',
  'latitude': 11.58333333,
  'longitude': 43.15},
 {'country': 'Dominica',
  'capital': 'Roseau',
  'latitude': 15.3,
  'longitude': -61.4},
 {'country': 'Dominican Republic',
  'capital': 'Santo Domingo',
  'latitude': 18.46666667,
  'longitude': -69.9},
 {'country': 'Ecuador',
  'capital': 'Quito',
  'latitude': -0.216666667,
  'longitude': -78.5},
 {'country': 'Egypt',
  'capital': 'Cairo',
  'latitude': 30.05,
  'longitude': 31.25},
 {'country': 'El Salvador',
  'capital': 'San Salvador',
  'latitude': 13.7,
  'longitude': -89.2},
 {'country': 'Equatorial Guinea',
  'capital': 'Malabo',
  'latitude': 3.75,
  'longitude': 8.783333},
 {'country': 'Eritrea',
  'capital': 'Asmara',
  'latitude': 15.33333333,
  'longitude': 38.933333},
 {'country': 'Estonia',
  'capital': 'Tallinn',
  'latitude': 59.43333333,
  'longitude': 24.716667},
 {'country': 'Ethiopia',
  'capital': 'Addis Ababa',
  'latitude': 9.033333333,
  'longitude': 38.7},
 {'country': 'Fiji',
  'capital': 'Suva',
  'latitude': -18.13333333,
  'longitude': 178.416667},
 {'country': 'Finland',
  'capital': 'Helsinki',
  'latitude': 60.16666667,
  'longitude': 24.933333},
 {'country': 'France',
  'capital': 'Paris',
  'latitude': 48.86666667,
  'longitude': 2.333333},
 {'country': 'French Polynesia',
  'capital': 'Papeete',
  'latitude': -17.53333333,
  'longitude': -149.566667},
 {'country': 'Gabon',
  'capital': 'Libreville',
  'latitude': 0.383333333,
  'longitude': 9.45},
 {'country': 'Georgia',
  'capital': 'Tbilisi',
  'latitude': 41.68333333,
  'longitude': 44.833333},
 {'country': 'Germany',
  'capital': 'Berlin',
  'latitude': 52.51666667,
  'longitude': 13.4},
 {'country': 'Ghana',
  'capital': 'Accra',
  'latitude': 5.55,
  'longitude': -0.216667},
 {'country': 'Greece',
  'capital': 'Athens',
  'latitude': 37.98333333,
  'longitude': 23.733333},
 {'country': 'Grenada',
  'capital': 'Saint George’s',
  'latitude': 12.05,
  'longitude': -61.75},
 {'country': 'Guam',
  'capital': 'Hagatna',
  'latitude': 13.46666667,
  'longitude': 144.733333},
 {'country': 'Guatemala',
  'capital': 'Guatemala City',
  'latitude': 14.61666667,
  'longitude': -90.516667},
 {'country': 'Guinea',
  'capital': 'Conakry',
  'latitude': 9.5,
  'longitude': -13.7},
 {'country': 'Guinea-Bissau',
  'capital': 'Bissau',
  'latitude': 11.85,
  'longitude': -15.583333},
 {'country': 'Guyana',
  'capital': 'Georgetown',
  'latitude': 6.8,
  'longitude': -58.15},
 {'country': 'Haiti',
  'capital': 'Port-au-Prince',
  'latitude': 18.53333333,
  'longitude': -72.333333},
 {'country': 'Honduras',
  'capital': 'Tegucigalpa',
  'latitude': 14.1,
  'longitude': -87.216667},
 {'country': 'Hungary',
  'capital': 'Budapest',
  'latitude': 47.5,
  'longitude': 19.083333},
 {'country': 'Iceland',
  'capital': 'Reykjavik',
  'latitude': 64.15,
  'longitude': -21.95},
 {'country': 'India',
  'capital': 'New Delhi',
  'latitude': 28.6,
  'longitude': 77.2},
 {'country': 'Indonesia',
  'capital': 'Jakarta',
  'latitude': -6.166666667,
  'longitude': 106.816667},
 {'country': 'Iran',
  'capital': 'Tehran',
  'latitude': 35.7,
  'longitude': 51.416667},
 {'country': 'Iraq',
  'capital': 'Baghdad',
  'latitude': 33.33333333,
  'longitude': 44.4},
 {'country': 'Ireland',
  'capital': 'Dublin',
  'latitude': 53.31666667,
  'longitude': -6.233333},
 {'country': 'Israel',
  'capital': 'Jerusalem',
  'latitude': 31.76666667,
  'longitude': 35.233333},
 {'country': 'Italy',
  'capital': 'Rome',
  'latitude': 41.9,
  'longitude': 12.483333},
 {'country': 'Jamaica',
  'capital': 'Kingston',
  'latitude': 18.0,
  'longitude': -76.8},
 {'country': 'Japan',
  'capital': 'Tokyo',
  'latitude': 35.68333333,
  'longitude': 139.75},
 {'country': 'Jordan',
  'capital': 'Amman',
  'latitude': 31.95,
  'longitude': 35.933333},
 {'country': 'Kazakhstan',
  'capital': 'Astana',
  'latitude': 51.16666667,
  'longitude': 71.416667},
 {'country': 'Kenya',
  'capital': 'Nairobi',
  'latitude': -1.283333333,
  'longitude': 36.816667},
 {'country': 'Kuwait',
  'capital': 'Kuwait City',
  'latitude': 29.36666667,
  'longitude': 47.966667},
 {'country': 'Kyrgyzstan',
  'capital': 'Bishkek',
  'latitude': 42.86666667,
  'longitude': 74.6},
 {'country': 'Laos',
  'capital': 'Vientiane',
  'latitude': 17.96666667,
  'longitude': 102.6},
 {'country': 'Latvia',
  'capital': 'Riga',
  'latitude': 56.95,
  'longitude': 24.1},
 {'country': 'Lebanon',
  'capital': 'Beirut',
  'latitude': 33.86666667,
  'longitude': 35.5},
 {'country': 'Lesotho',
  'capital': 'Maseru',
  'latitude': -29.31666667,
  'longitude': 27.483333},
 {'country': 'Liberia',
  'capital': 'Monrovia',
  'latitude': 6.3,
  'longitude': -10.8},
 {'country': 'Libya',
  'capital': 'Tripoli',
  'latitude': 32.88333333,
  'longitude': 13.166667},
 {'country': 'Liechtenstein',
  'capital': 'Vaduz',
  'latitude': 47.13333333,
  'longitude': 9.516667},
 {'country': 'Lithuania',
  'capital': 'Vilnius',
  'latitude': 54.68333333,
  'longitude': 25.316667},
 {'country': 'Luxembourg',
  'capital': 'Luxembourg',
  'latitude': 49.6,
  'longitude': 6.116667},
 {'country': 'Madagascar',
  'capital': 'Antananarivo',
  'latitude': -18.91666667,
  'longitude': 47.516667},
 {'country': 'Malawi',
  'capital': 'Lilongwe',
  'latitude': -13.96666667,
  'longitude': 33.783333},
 {'country': 'Malaysia',
  'capital': 'Kuala Lumpur',
  'latitude': 3.166666667,
  'longitude': 101.7},
 {'country': 'Maldives',
  'capital': 'Male',
  'latitude': 4.166666667,
  'longitude': 73.5},
 {'country': 'Mali',
  'capital': 'Bamako',
  'latitude': 12.65,
  'longitude': -8.0},
 {'country': 'Malta',
  'capital': 'Valletta',
  'latitude': 35.88333333,
  'longitude': 14.5},
 {'country': 'Marshall Islands',
  'capital': 'Majuro',
  'latitude': 7.1,
  'longitude': 171.383333},
 {'country': 'Mauritania',
  'capital': 'Nouakchott',
  'latitude': 18.06666667,
  'longitude': -15.966667},
 {'country': 'Mauritius',
  'capital': 'Port Louis',
  'latitude': -20.15,
  'longitude': 57.483333},
 {'country': 'Mexico',
  'capital': 'Mexico City',
  'latitude': 19.43333333,
  'longitude': -99.133333},
 {'country': 'Moldova',
  'capital': 'Chisinau',
  'latitude': 47.0,
  'longitude': 28.85},
 {'country': 'Monaco',
  'capital': 'Monaco',
  'latitude': 43.73333333,
  'longitude': 7.416667},
 {'country': 'Mongolia',
  'capital': 'Ulaanbaatar',
  'latitude': 47.91666667,
  'longitude': 106.916667},
 {'country': 'Morocco',
  'capital': 'Rabat',
  'latitude': 34.01666667,
  'longitude': -6.816667},
 {'country': 'Mozambique',
  'capital': 'Maputo',
  'latitude': -25.95,
  'longitude': 32.583333},
 {'country': 'Namibia',
  'capital': 'Windhoek',
  'latitude': -22.56666667,
  'longitude': 17.083333},
 {'country': 'Nepal',
  'capital': 'Kathmandu',
  'latitude': 27.71666667,
  'longitude': 85.316667},
 {'country': 'Netherlands',
  'capital': 'Amsterdam',
  'latitude': 52.35,
  'longitude': 4.916667},
 {'country': 'New Caledonia',
  'capital': 'Noumea',
  'latitude': -22.26666667,
  'longitude': 166.45},
 {'country': 'New Zealand',
  'capital': 'Wellington',
  'latitude': -41.3,
  'longitude': 174.783333},
 {'country': 'Nicaragua',
  'capital': 'Managua',
  'latitude': 12.13333333,
  'longitude': -86.25},
 {'country': 'Niger',
  'capital': 'Niamey',
  'latitude': 13.51666667,
  'longitude': 2.116667},
 {'country': 'Nigeria',
  'capital': 'Abuja',
  'latitude': 9.083333333,
  'longitude': 7.533333},
 {'country': 'Norway',
  'capital': 'Oslo',
  'latitude': 59.91666667,
  'longitude': 10.75},
 {'country': 'Oman',
  'capital': 'Muscat',
  'latitude': 23.61666667,
  'longitude': 58.583333},
 {'country': 'Pakistan',
  'capital': 'Islamabad',
  'latitude': 33.68333333,
  'longitude': 73.05},
 {'country': 'Palau',
  'capital': 'Melekeok',
  'latitude': 7.483333333,
  'longitude': 134.633333},
 {'country': 'Panama',
  'capital': 'Panama City',
  'latitude': 8.966666667,
  'longitude': -79.533333},
 {'country': 'Papua New Guinea',
  'capital': 'Port Moresby',
  'latitude': -9.45,
  'longitude': 147.183333},
 {'country': 'Paraguay',
  'capital': 'Asuncion',
  'latitude': -25.26666667,
  'longitude': -57.666667},
 {'country': 'Peru',
  'capital': 'Lima',
  'latitude': -12.05,
  'longitude': -77.05},
 {'country': 'Philippines',
  'capital': 'Manila',
  'latitude': 14.6,
  'longitude': 120.966667},
 {'country': 'Poland',
  'capital': 'Warsaw',
  'latitude': 52.25,
  'longitude': 21.0},
 {'country': 'Portugal',
  'capital': 'Lisbon',
  'latitude': 38.71666667,
  'longitude': -9.133333},
 {'country': 'Puerto Rico',
  'capital': 'San Juan',
  'latitude': 18.46666667,
  'longitude': -66.116667},
 {'country': 'Qatar',
  'capital': 'Doha',
  'latitude': 25.28333333,
  'longitude': 51.533333},
 {'country': 'Romania',
  'capital': 'Bucharest',
  'latitude': 44.43333333,
  'longitude': 26.1},
 {'country': 'Russia',
  'capital': 'Moscow',
  'latitude': 55.75,
  'longitude': 37.6},
 {'country': 'Rwanda',
  'capital': 'Kigali',
  'latitude': -1.95,
  'longitude': 30.05},
 {'country': 'Saint Helena',
  'capital': 'Jamestown',
  'latitude': -15.93333333,
  'longitude': -5.716667},
 {'country': 'Saint Lucia',
  'capital': 'Castries',
  'latitude': 14.0,
  'longitude': -61.0},
 {'country': 'Saint Vincent and the Grenadines',
  'capital': 'Kingstown',
  'latitude': 13.13333333,
  'longitude': -61.216667},
 {'country': 'Samoa',
  'capital': 'Apia',
  'latitude': -13.81666667,
  'longitude': -171.766667},
 {'country': 'San Marino',
  'capital': 'San Marino',
  'latitude': 43.93333333,
  'longitude': 12.416667},
 {'country': 'Saudi Arabia',
  'capital': 'Riyadh',
  'latitude': 24.65,
  'longitude': 46.7},
 {'country': 'Senegal',
  'capital': 'Dakar',
  'latitude': 14.73333333,
  'longitude': -17.633333},
 {'country': 'Seychelles',
  'capital': 'Victoria',
  'latitude': -4.616666667,
  'longitude': 55.45},
 {'country': 'Sierra Leone',
  'capital': 'Freetown',
  'latitude': 8.483333333,
  'longitude': -13.233333},
 {'country': 'Singapore',
  'capital': 'Singapore',
  'latitude': 1.283333333,
  'longitude': 103.85},
 {'country': 'Slovenia',
  'capital': 'Ljubljana',
  'latitude': 46.05,
  'longitude': 14.516667},
 {'country': 'Somalia',
  'capital': 'Mogadishu',
  'latitude': 2.066666667,
  'longitude': 45.333333},
 {'country': 'South Africa',
  'capital': 'Pretoria',
  'latitude': -25.7,
  'longitude': 28.216667},
 {'country': 'Spain',
  'capital': 'Madrid',
  'latitude': 40.4,
  'longitude': -3.683333},
 {'country': 'Sri Lanka',
  'capital': 'Colombo',
  'latitude': 6.916666667,
  'longitude': 79.833333},
 {'country': 'Sudan',
  'capital': 'Khartoum',
  'latitude': 15.6,
  'longitude': 32.533333},
 {'country': 'Suriname',
  'capital': 'Paramaribo',
  'latitude': 5.833333333,
  'longitude': -55.166667},
 {'country': 'Swaziland',
  'capital': 'Mbabane',
  'latitude': -26.31666667,
  'longitude': 31.133333},
 {'country': 'Sweden',
  'capital': 'Stockholm',
  'latitude': 59.33333333,
  'longitude': 18.05},
 {'country': 'Switzerland',
  'capital': 'Bern',
  'latitude': 46.91666667,
  'longitude': 7.466667},
 {'country': 'Syria',
  'capital': 'Damascus',
  'latitude': 33.5,
  'longitude': 36.3},
 {'country': 'Taiwan',
  'capital': 'Taipei',
  'latitude': 25.03333333,
  'longitude': 121.516667},
 {'country': 'Tajikistan',
  'capital': 'Dushanbe',
  'latitude': 38.55,
  'longitude': 68.766667},
 {'country': 'Tanzania',
  'capital': 'Dar es Salaam',
  'latitude': -6.8,
  'longitude': 39.283333},
 {'country': 'Thailand',
  'capital': 'Bangkok',
  'latitude': 13.75,
  'longitude': 100.516667},
 {'country': 'Togo',
  'capital': 'Lome',
  'latitude': 6.116666667,
  'longitude': 1.216667},
 {'country': 'Tonga',
  'capital': 'Nuku’alofa',
  'latitude': -21.13333333,
  'longitude': -175.2},
 {'country': 'Tunisia',
  'capital': 'Tunis',
  'latitude': 36.8,
  'longitude': 10.183333},
 {'country': 'Turkey',
  'capital': 'Ankara',
  'latitude': 39.93333333,
  'longitude': 32.866667},
 {'country': 'Turkmenistan',
  'capital': 'Ashgabat',
  'latitude': 37.95,
  'longitude': 58.383333},
 {'country': 'Uganda',
  'capital': 'Kampala',
  'latitude': 0.316666667,
  'longitude': 32.55},
 {'country': 'Ukraine',
  'capital': 'Kyiv',
  'latitude': 50.43333333,
  'longitude': 30.516667},
 {'country': 'United Arab Emirates',
  'capital': 'Abu Dhabi',
  'latitude': 24.46666667,
  'longitude': 54.366667},
 {'country': 'United Kingdom',
  'capital': 'London',
  'latitude': 51.5,
  'longitude': -0.083333},
 {'country': 'United States',
  'capital': 'Washington, D.C.',
  'latitude': 38.883333,
  'longitude': -77.0},
 {'country': 'Uruguay',
  'capital': 'Montevideo',
  'latitude': -34.85,
  'longitude': -56.166667},
 {'country': 'Uzbekistan',
  'capital': 'Tashkent',
  'latitude': 41.31666667,
  'longitude': 69.25},
 {'country': 'Vanuatu',
  'capital': 'Port-Vila',
  'latitude': -17.73333333,
  'longitude': 168.316667},
 {'country': 'Venezuela',
  'capital': 'Caracas',
  'latitude': 10.48333333,
  'longitude': -66.866667},
 {'country': 'Vietnam',
  'capital': 'Hanoi',
  'latitude': 21.03333333,
  'longitude': 105.85},
 {'country': 'Yemen',
  'capital': 'Sanaa',
  'latitude': 15.35,
  'longitude': 44.2},
 {'country': 'Zambia',
  'capital': 'Lusaka',
  'latitude': -15.41666667,
  'longitude': 28.283333},
 {'country': 'Zimbabwe',
  'capital': 'Harare',
  'latitude': -17.81666667,
  'longitude': 31.033333}]