In [1]:
#from Aivah Roubal
import time, requests, os
import pandas as pd
from pandas import DataFrame, Series

In [2]:
def abs1(list1):
    list1 = list1[:]
    for i in range(len(list1)):
        if list1[i] < 0:
            list1[i] = -list1[i]
    return list1

abs1([-1, -3, 5, -4, 8])

[1, 3, 5, 4, 8]

In [3]:
time.time()

1618523858.675508

In [4]:
t1 = time.time()

#this is code we want to measure
total = 0
limit = 10
for i in range(limit):
    total += i

t2 = time.time()

print("TOTAL:", total)
milliseconds = (t2-t1) * 1000
print("ms:", milliseconds)

TOTAL: 45
ms: 0.1289844512939453

In [5]:
#1
t1 = time.time()

r = requests.get("https://raw.githubusercontent.com/msyamkumar/cs220-s21-projects/main/lab-p12/hello.txt")
r.raise_for_status()
data = r.text

t2 = time.time()

milliseconds = (t2-t1) * 1000
print("ms:", milliseconds)

ms: 132.86805152893066

In [6]:
#2
t1 = time.time()

f = open('hello.txt', 'w', encoding='utf-8')
f.write(data)
f.close()

t2 = time.time()

milliseconds = (t2-t1) * 1000
print("ms:", milliseconds)

ms: 1.4100074768066406

In [7]:
#3
t1 = time.time()

f = open("hello.txt", encoding="utf-8")
data = f.read()
f.close()

t2 = time.time()

milliseconds = (t2-t1) * 1000
print("ms:", milliseconds)

ms: 0.6220340728759766

In [8]:
#implementing caching
def download(filename, url):
    #we don't download again if the file already exists
    if os.path.exists(filename):
        return (str(filename) + " already exists!")
    else: 
        r = requests.get(url)
        r.raise_for_status()
        f = open(filename, 'wb')
        f.write(r.content)
        f.close()      
    return (str(filename) + " created!")

download("hello.html", "https://raw.githubusercontent.com/msyamkumar/cs220-s21-projects/main/lab-p12/hello.html")

'hello.html already exists!'

In [9]:
#creating data frames
#option 1
DataFrame([[1,2], [3,4]])

   0  1
0  1  2
1  3  4

In [10]:
#option 2
DataFrame([{"x":1, "y":2},
           {"x":3, "y":4}])

   x  y
0  1  2
1  3  4

In [11]:
#option 3
DataFrame({"x":[1,3],
           "y":[2,4]})

   x  y
0  1  2
1  3  4

In [12]:
#option 4
DataFrame({"x":{"A":1,"B":3},
           "y":{"A":2,"B":4}})

   x  y
A  1  2
B  3  4

In [13]:
from bs4 import BeautifulSoup
#triple quotations enables you to split a string (that holds html) across multiple lines
html = """ 
<h1>Fruits</h1>
    <ul>
    <li><i>apple</i></li>
    <li><b>banana</b></li>
    <li>pear</li>
    <li><a href="schedule.html"><i>please</i> click <b>here</b></a></li>
    </ul>
<h2><b>Vegetables</b></h2> 
    <ul>
    <li><i>carrot</i></li>
    <li><b>tomato</b></li>
    <li>cauliflower</li>
    </ul>
"""
doc = BeautifulSoup(html, "html.parser")
elements = doc.find("ul").find_all("li")
lst = []
for e in elements:
    lst.append(e.get_text())
print(lst)

print(list(doc.find("a").children))

['apple', 'banana', 'pear', 'please click here']
[<i>please</i>, ' click ', <b>here</b>]