In [1]:
# project: p6
# submitter: Kmconrad3
# partner: Akroubal
# hours: 5

In [2]:
import csv

def process_csv(filename):
    exampleFile = open(filename, encoding="utf-8")
    exampleReader = csv.reader(exampleFile)
    exampleData = list(exampleReader)
    exampleFile.close()
    return exampleData

#use process_csv to pull out the header and data rows
csv_rows = process_csv("airbnb.csv")
csv_header = csv_rows[0]
csv_data = csv_rows[1:]

In [3]:
def cell(row_idx, col_name):
    col_idx = csv_header.index(col_name)
    val = csv_data[row_idx][col_idx]
    if col_name == 'price':
        return int(val)
    if col_name == 'latitude':
        return float(val)
    if val == "":
        return None
    return val

In [4]:
#q1
keep = []
i=0
for row_idx in csv_data:
    if cell(i,'room_type')==keep:
        i+=1
        continue
    elif cell(i,'room_type'):
        keep.append(cell(i,'room_type'))
        i+=1

list(set(keep))

['Entire home/apt', 'Shared room', 'Private room']

In [5]:
#q2
def avgprice():
    i=0
    totalprice=0
    for price in csv_data:
        totalprice =+ totalprice + cell(i,'price')
        i+=1
    return round((totalprice/i),3)

avgprice()

152.721

In [6]:
#q3
def howmanyinneigh(word):
    i=0
    rooms=0
    for neighborhood in csv_data:
        if cell(i,'neighborhood').lower()==word.lower():
            rooms +=1 
            i += 1
        else:
            i += 1
            continue
    return rooms

howmanyinneigh('Kingsbridge')

70

In [29]:
#q4
def names(word,word2=False):
    i=0
    keep=[]
    for names in csv_data:
        strhold=str((cell(i,'name'))).lower()
        if word2==False:
            if strhold.find(word.lower())>-1:
                keep.append(cell(i,'name'))
                i+=1
            else:
                i+=1
                continue
        else:
            if (strhold.find(word.lower())>-1) or (strhold.find(word2.lower())>-1):
                keep.append(cell(i,'name'))
                i+=1
            else:
                i+=1
                continue
    return list(set(keep))

names('Superbowl')

['Superbowl - NYC Apartment',
 'SUPERBOWLSUNDAY! 3BLOCK FROM TIMESQ',
 'NYC SuperBowl Wk 5 Bdrs River View ',
 'Superbowl in the West Village',
 '1BR Superbowl rental Hells Kitchen',
 'SUPERBOWL!! 2 Bd, 2 Ba w Roof Deck!',
 'Super Apt for Superbowl',
 'MANHATTAN SUPERBOWL ACCOMODATION',
 'Superbowl Studio Upper West Side',
 '1500 sq ft apt sleeps 8 - SuperBowl',
 'Tribeca Loft for Superbowl Wknd',
 'SuperBowl West Village Apartment',
 'SuperBowl Penthouse Loft 3,000 sqft',
 'Downtown NY Apt - SuperBowl Weekend',
 'PERFECT SUPERBOWL STAY',
 'UWS MANHATTAN APT FOR SUPERBOWL WE',
 'SuperBowl Weekend Rental! 3 BR/1ba']

In [8]:
#q5
names('free wifi','cable')

['Private Bedroom in MANHATTAN (Free Wifi)',
 'Explore NYC From Our Private Studio w/Free Wifi',
 'Coney Island MCU Park Wi fi Cable Apt****',
 'Newly renovated 2 bedroom with FREE WIFI',
 'J- COZY ROOM FOR 1 FEMALE FREE WIFI & COFFEE',
 'Cable and wfi, L/G included.',
 'BIG BEDROOM CLOSE TO LA GUARDIA AIRPORT FREE WIFI',
 'Sunny Hudson Yards/ Chelsea Studio, Free WiFi',
 'Historic Turret Retreat (Smart TV/Cable/Wifi)',
 'Luxury condo- private room + bath w cable TV/W/D',
 'J- **LUXURY SHARED ROOM 2PPL FREE WIFI+CABLE+AC',
 'Coney Island  Amphitheat  MCU 1 br  Wifi Cable **',
 'One Bedroom Mini studio - Free WIFI',
 'J- LUXURY SHARED ROOM, AC FREE WIFI+CABLE GARDEN',
 'Great Chelsea Location, Couch/2nd bed, Free WiFi',
 'Modern and Safe Place,Free Wifi',
 'ROOM AC WI-FI PARKING CABLE FOR 2',
 'Huge 1bdrm w pt Doorman, WiFi/Cable, Bottled Water',
 'PRIVATE 1BR APT: Free WIFI & DIRECT TV',
 'J- HOTEL STYLE SHARE ROOM FOR 2PPL FREE WIFI CABLE',
 'Private Studio: Landmark Dt (Smart TV/Wifi/Cable)',
 '5min walk to L train - Free WiFi & Cleaning',
 '2Bed/ 2Bath Impeccable Stylish Brooklyn Home',
 '1 bedroom furnished with WIFI and cable. Murr Hill',
 'J- *LUXURY SHARED ROOM AC FREE WIFI CABLE, GARDEN',
 'Landmark 1 Bedroom has 2 beds, Free WiFi',
 'J- HOTEL STYLE SHARE ROOM FOR 2PPL FREE CABLE WIFI',
 '*NO GUEST SERVICE FEE* Beekman Tower Studio with Queen Bed & Free Wifi',
 'Pvt entrance lower level apt w/cable-wi-fi pvt bth',
 'Tudor Studio (Wifi/Premium Cable) w Private Entry',
 'Private 2 BR APT: Free WIFI & JACUZZI',
 'Cozy, impeccable, sunlit West Village studio',
 'Staten Island - Free Wifi, Parking Space, Near NYC',
 'Cozy,budget friendly, cable inc, private entrance!',
 'Impeccable Private one&half bedroom and full bath',
 '*NO GUEST SERVICE FEE* Beekman Tower One Bedroom Suite with Queen Bed & Free Wifi']

In [9]:
#q6
def anagram(word):
    i=0
    keep=[]
    for host_names in csv_data:
        strhold=str(cell(i,'host_name')).lower()
        if sorted(list(word.lower()))==sorted(list(strhold)):
            keep.append(cell(i,'host_name'))
            i+=1
        else:
            i+=1
            continue
    return list(set(keep))

anagram('loondar')

['Orlando', 'Ronaldo', 'Rolando']

In [10]:
#q7
keep=[]
i=0
for minnights in csv_data:
    if (int(cell(i,'minimum_nights')))>365:
        keep.append(cell(i,'room_id'))
        i+=1
    else:
        i+=1
        continue
        
list(set(keep))

['20990053',
 '35834935',
 '30378211',
 '8668115',
 '4204302',
 '5431845',
 '1615764',
 '10053943',
 '27362309',
 '12888849',
 '11096888',
 '568684',
 '6169897',
 '8341919']

In [11]:
#q8
keep=[]
i=0
for minnights in csv_data:
    if int(cell(i,'calculated_host_listings_count'))>50:
        keep.append(cell(i,'host_id'))
        i+=1
    else:
        i+=1
        continue
        
list(set(keep))

['30283594',
 '107434423',
 '200380610',
 '12243051',
 '61391963',
 '22541573',
 '1475015',
 '219517861',
 '16098958',
 '137358866',
 '7503643']

In [12]:
#q9
totalrooms=0
i=0
for percentshared in csv_data:
    if cell(i,'room_type')=='Shared room':
        totalrooms+=1
        i+=1
    else:
        i+=1
        continue
        
round(((totalrooms/i)*100),3)

2.372

In [13]:
#q10
def cheapestroom(name):
    keep=None
    lol=[]
    for prices in range(len(csv_data)):
        if cell(prices,'neighborhood_group')!=name:
            continue
        if keep==None or cell(prices,'price')<keep:
                keep=cell(prices,'price')
                lol=[cell(prices,'name')]
        if cell(prices,'price')==keep:
                lol.append(cell(prices,'name'))
    return list(set(lol))

cheapestroom('Brooklyn')

['Spacious comfortable master bedroom with nice view',
 'MARTIAL LOFT 3: REDEMPTION (upstairs, 2nd room)',
 'Huge Brooklyn Brownstone Living, Close to it all.',
 'Contemporary bedroom in brownstone with nice view',
 'Best Coliving space ever! Shared room.',
 'Coliving in Brooklyn! Modern design / Shared room',
 'Cozy yet spacious private brownstone bedroom',
 'Sunny, Quiet Room in Greenpoint',
 'Modern apartment in the heart of Williamsburg']

In [14]:
#q11
cheapestroom('Manhattan')

['the best you can find']

In [15]:
#q12
total=0
i=0
for perc in range(len(csv_data)):
    if int(cell(perc,'availability_365'))>0:
        total+=((int(cell(perc,'number_of_reviews')))/(int(cell(perc,'availability_365'))))
        i+=1
    if int(cell(perc,'availability_365'))==0:
        continue

round(total/i,3)

1.022

In [16]:
#q13
def highestreview(lalow,lahi,lolow,lohi):
    keep=[]
    keeep=[] 
    done=[]
    max=0
    for review in range(len(csv_data)):
        if (cell(review,'reviews_per_month')!=None):
            if (float(cell(review,'latitude'))<=lahi):
                if (float(cell(review,'longitude'))>=lolow):
                    if (float(cell(review,'longitude'))<=lohi):
                        if (float(cell(review,'latitude'))>=lalow):
                            keep.append((cell(review,'room_id')))
                            keeep.append(float(cell(review,'reviews_per_month')))
    for review in keeep:
        if review>max:
            max=review
    for review in range(len(keep)):
        if keeep[review]==max:
            done.append(keep[review])
    return done

highestreview(40.5,40.75,-74.00,-73.95)

['22463977']

In [17]:
#q14
highestreview(40.75,41.00,-73.95,-73.85)

['16276632']

In [18]:
#q15
meow=[]
for j in range(len(csv_data)):
    if cell(j,'last_review')!=None:
        x=int(cell(j,'last_review')[0:4])
        if cell(j,'neighborhood_group')=='Queens':
            if x<=2013:
                meow.append(cell(j,'room_id'))

meow

['32363', '59121', '479285', '679633', '766964']

In [19]:
#q16
i=0
total=0
for j in range(len(csv_data)):
    if int(cell(j,'number_of_reviews'))>300:
        i+=1
        total+=int(cell(j,'price'))
        
round((total/i),3)

105.515

In [20]:
#q17
i=0
total=0
for j in range(len(csv_data)):
    if int(cell(j,'price'))>1000:
        i+=1
        total+=int(cell(j,'number_of_reviews'))
        
round((total/i),3)

6.41

In [37]:
#q18
def namestwo(word,word2=False):
    i=0
    keep=[]
    for names in csv_data:
        strhold=str((cell(i,'name'))).lower()
        if word2==False:
            if strhold.find(word.lower())>-1:
                keep.append(cell(i,'name'))
                i+=1
            else:
                i+=1
                continue
        else:
            if (strhold.find(word.lower())>-1) and (strhold.find(word2.lower())>-1):
                keep.append(cell(i,'name'))
                i+=1
            else:
                i+=1
                continue
    return keep

round(len(namestwo("sweet",'home'))/len(namestwo('sweet'))*100,3)

30.57

In [38]:
#q19
round(len(namestwo("pool",'gym'))/len(namestwo("pool"))*100,3)

48.921

In [49]:
#q20
queen=None
statenis=None
for j in range(len(csv_data)):
    if cell(j,'neighborhood_group')=='Queens':
        if int(cell(j,'minimum_nights'))<=5:
            if queen==None:
                queen=cell(j,'price')
            if cell(j,'price')<queen:
                queen=cell(j,'price')
                
for k in range(len(csv_data)):
    if cell(k,'neighborhood_group')=='Staten Island':
        if int(cell(k,'minimum_nights'))<=10:
            if statenis==None:
                statenis=cell(k,'price')
            if cell(k,'price')<statenis:
                statenis=cell(k,'price')

(statenis*10)+(queen*5)

180