In [1]:
#from Aivah Roubal
import csv

#copied from https://automatetheboringstuff.com/chapter14/
def process_csv(filename):
    exampleFile = open(filename, encoding="utf-8")
    exampleReader = csv.reader(exampleFile)
    exampleData = list(exampleReader)
    exampleFile.close()
    return exampleData

#use process_csv to pull out the header and data rows
csv_rows = process_csv("airbnb.csv")
csv_header = csv_rows[0]
csv_data = csv_rows[1:]

In [2]:
csv_header

['room_id',
 'name',
 'host_id',
 'host_name',
 'neighborhood_group',
 'neighborhood',
 'latitude',
 'longitude',
 'room_type',
 'price',
 'minimum_nights',
 'number_of_reviews',
 'last_review',
 'reviews_per_month',
 'calculated_host_listings_count',
 'availability_365']

In [3]:
len(csv_data)

48895

In [4]:
csv_data[:5]

[['2539',
  'Clean & quiet apt home by the park',
  '2787',
  'John',
  'Brooklyn',
  'Kensington',
  '40.64749000000001',
  '-73.97237',
  'Private room',
  '149',
  '1',
  '9',
  '2018-10-19',
  '0.21',
  '6',
  '365'],
 ['2595',
  'Skylit Midtown Castle',
  '2845',
  'Jennifer',
  'Manhattan',
  'Midtown',
  '40.75362',
  '-73.98376999999998',
  'Entire home/apt',
  '225',
  '1',
  '45',
  '2019-05-21',
  '0.38',
  '2',
  '355'],
 ['3647',
  'THE VILLAGE OF HARLEM....NEW YORK !',
  '4632',
  'Elisabeth',
  'Manhattan',
  'Harlem',
  '40.80902',
  '-73.9419',
  'Private room',
  '150',
  '3',
  '0',
  '',
  '',
  '1',
  '365'],
 ['3831',
  'Cozy Entire Floor of Brownstone',
  '4869',
  'LisaRoxanne',
  'Brooklyn',
  'Clinton Hill',
  '40.68514',
  '-73.95976',
  'Entire home/apt',
  '89',
  '1',
  '270',
  '2019-07-05',
  '4.64',
  '1',
  '194'],
 ['5022',
  'Entire Apt: Spacious Studio/Loft by central park',
  '7192',
  'Laura',
  'Manhattan',
  'East Harlem',
  '40.79851',
  '-73.94399',
  'Entire home/apt',
  '80',
  '10',
  '9',
  '2018-11-19',
  '0.1',
  '1',
  '0']]

In [5]:
csv_data[0]

['2539',
 'Clean & quiet apt home by the park',
 '2787',
 'John',
 'Brooklyn',
 'Kensington',
 '40.64749000000001',
 '-73.97237',
 'Private room',
 '149',
 '1',
 '9',
 '2018-10-19',
 '0.21',
 '6',
 '365']

In [6]:
csv_data[0][3]

'John'

In [7]:
csv_header.index("neighborhood_group")

4

In [8]:
csv_data[0][csv_header.index("neighborhood_group")]

'Brooklyn'

In [9]:
letters = ["A", "B", "C", "D"]
print(letters.index("C"))

2

In [10]:
csv_data[0][csv_header.index("neighborhood_group")]

'Brooklyn'

In [11]:
csv_data[1][csv_header.index("host_name")]

'Jennifer'

In [12]:
csv_data[2][csv_header.index('name')]

'THE VILLAGE OF HARLEM....NEW YORK !'

In [13]:
def cell(row_idx, col_name):
    col_idx = csv_header.index(col_name)
    val = csv_data[row_idx][col_idx]
    if col_name == 'price':
        return int(val)
    if col_name == 'latitude':
        return float(val)
    if val == "":
        return None
    return val

In [14]:
cell(0,'neighborhood')

'Kensington'

In [15]:
cell(1,'name')

'Skylit Midtown Castle'

In [16]:
cell(2,'price')

150

In [17]:
cell(3,'latitude')

40.68514

In [18]:
cell(5,'neighborhood')

'Murray Hill'

In [19]:
letters = ["B", "C", "A"]

result = letters.sort()
#.sort() only works on lists

print("original list:", letters)
print("returned value:", result)

original list: ['A', 'B', 'C']
returned value: None

In [20]:
letters = ["B", "C", "A"]

result = sorted(letters)

print("original list:", letters)
print("returned value:", result)

original list: ['B', 'C', 'A']
returned value: ['A', 'B', 'C']

In [21]:
s = "BCA"

result = sorted(s)
#works on other sequences, always returns list

print("original str:", s)
print("returned value:", result)

original str: BCA
returned value: ['A', 'B', 'C']

In [22]:
letters = ["B", "C", "A"]

result = letters.pop(0)

print("original list:", letters)
print("returned value:", result)

original list: ['C', 'A']
returned value: B

In [23]:
example_list = ["A", "B", "C"]
print(example_list)

example_set = {"A", "B", "C"}
#sets are NOT sequences
print(example_set)

['A', 'B', 'C']
{'B', 'C', 'A'}

In [24]:
"A" in example_list

True

In [25]:
"A" in example_set

True

In [26]:
["A", "B", "C"] == ["C", "B", "A"]

False

In [27]:
{"A", "B", "C"} == {"C", "B", "A"}

True

In [28]:
items = [1,2,4]
items_set = set(items)
print(items_set)

{1, 2, 4}

In [29]:
items = {4,2,1}
items_list = list(items)
print(items_list)

[1, 2, 4]

In [30]:
x = 3.8
y = float(int(x))
print(y)

3.0

In [31]:
list_1 = ["A", "B", "C", "J", "E", "F", "G"] 
list_2 = list(set(list_1))
print(list_2)

['B', 'A', 'F', 'J', 'G', 'C', 'E']